<!DOCTYPE html>
<html>

<body>
    <section>
        <h2> books</h2>

        <table class='table table-hover'>
            <thead>
                <th>id</th>
                <th>title</th>
                <th>author</th>
                <th>genre</th>
                <th>year</th>
                <th>version</th>
            </thead>
            <tbody>
                <tr data-ng-dblclick='edit()' data-ng-repeat='item in data.books' data-ng-click='selectRow($index)' data-ng-class='{"active": selectedRowIndex === $index}'>
                    <td data-ng-bind="item.id"> </td>
                    <td data-ng-bind="item.title"> </td>
                    <td data-ng-bind="item.author"> </td>
                    <td data-ng-bind="item.genre"> </td>
                    <td data-ng-bind="item.year"> </td>
                    <td data-ng-bind="item.version"> </td>
                </tr>
            </tbody>
        </table>

        <button data-ng-click='add()' class='btn btn-default'> add book </button>
        <button data-ng-click='edit()' data-ng-hide='selectedRowIndex === undefined' class='btn btn-default'> edit book </button>

    </section>

</body>

</html>
